<div class="header-area two">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="left">
                    <span>Latest News:</span>
                    {% for article in latestNews.data.news %}
                        <a href="{{ '/' | url }}posts/{{ article.title | slug }}/index.html">
                                {{ article.title }}
                            <i class="icofont-long-arrow-right"></i>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="right">
                    <ul class="social-icon">
                        {% for social in singletons.globalObjects.data.globals.social_accounts %}
                            <li class="test">
                                <a href="{{ social.url }}" target="_blank">
                                    <i class="{{ social.icon_code }}"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
