<div class="header-area two">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-7">
                <div class="left">
                    <span>Latest News:</span>
                    <a href="https://www.paypal.com/donate?hosted_button_id=JSMVY2E6XDFN8">
                        Peer-Reviewed Covid Mandates Article!
                        <i class="icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="right">

                    <ul class="social-icon">
                        {% for social in globals.data.social_accounts %}
                            <li class="test">
                                <a href="{{ social.url }}" target="_blank">
                                    <i class="{{ social.icon_code }}"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    

                </div>
            </div>

        </div>
    </div>
</div>