{% include 'partials/head.html' %}
{% include 'partials/nav.html' %}
<main>
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</main>
{% include 'partials/footer.html' %}
{% include 'partials/foot.html' %}