{% include 'partials/head.njk' %}
{% include 'partials/nav.njk' %}
<main>
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</main>
{% include 'partials/footer.njk' %}
{% include 'partials/foot.njk' %}