/* Format headers */
h1 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
      var(--header-scale) * var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h2 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
      var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h3 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale)
  );
  margin-top: calc(var(--line-height) * 1.5rem);
}

h4 {
  font-size: calc(var(--base-fontsize) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h5 {
  font-size: var(--base-fontsize);
  margin-top: calc(var(--line-height) * 1.5rem);
}

h6 {
  font-size: calc(var(--base-fontsize) / var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}
