/* Format headers */
h1 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
    var(--header-scale) * var(--header-scale)
  );
}

h2 {
  font-size: calc(
    var(--base-fontsize) * var(--header-scale) * var(--header-scale) *
    var(--header-scale)
  );
}

h3 {
  font-size: calc(
  var(--base-fontsize) * var(--header-scale) * var(--header-scale)
  );
}

h4 {
  font-size: calc(var(--base-fontsize) * var(--header-scale));
}

h5 {
  font-size: var(--base-fontsize);
}

h6 {
  font-size: calc(var(--base-fontsize) / var(--header-scale));
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}
