.bg-primary {
  background: var(--primary-color);
}

.bg-secondary {
  background: var(--secondary-color);
}

.text-center {
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 solid transparent;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary-color);
  color: #f7f7f7;
}

.btn-primary:hover {
  background: #13498a;
}
