nav > .wrapper {
  display: grid;
  grid-template-columns: 3fr 7fr;
  padding: 0 25px;
  align-items: center;
}

.site-title {
  display: flex;
  align-items: center;
}

.site-title > a {
  color: #f7f7f7;
}

.menu-items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.menu-item > i {
  margin-right: 10px;
  color: #f7f7f7;
}

.menu-item > a {
  color: #f7f7f7;
}

.mobile-menu {
  display: none;
}

@media(max-width: 800px) {
  nav {
    padding: 15px 0;
  }
  nav > .wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
  }

  .mobile-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-items {
    display: none;
  }

  .mobile-menu-items {
    display: block;
    position: absolute;
    left: 0;
    top: 56px;
    background: #f7f7f7;
    width: 100%;
    padding: 25px;
    list-style: none;
    border-bottom: 5px solid var(--secondary-color);
  }

  .mobile-menu-item > i {
    margin-right: 10px;
    color: #333333;
  }

  .mobile-menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-weight: bold;
    color: #f7f7f7;
    font-size: 20px;
  }

  .mobile-menu > i {
    color: white;
    cursor: pointer;
  }
}