@import 'reset.css';
@import 'variables.css';
@import 'grid.css';
@import 'utilities.css';
@import 'nav.css';

main {
  padding: 25px 0;
}

.blog-list {
  list-style: none;
  padding-left: 0;
}

.blog-list > li {
  margin-bottom: 25px;
}

form {

}

form > label, input, textarea, button {
  display: block;
  width: 100%;
}

form > input, textarea {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #888;
  padding: 7px 14px;
}

footer {
  padding: 50px 0;
  background: #f7f7f7;
}

footer > p {
  text-align: center;
  margin: 0;
}