---
pagination:
  data: armstrongAngle.data.armstrong_angle
  size: 1
  alias: detail
permalink: 'posts/{{ detail.title | slug }}/index.html'
---

{% extends 'layouts/base.html' %}
{% block content %}
<!-- Page Title -->
{# <div class="page-title-area title-img-one">
    <div class="title-shape">
        <img src="{{ '/assets/images/page-title/title-shape.jpg' | url }}" alt="Title">
        <img src="{{ '/assets/images/banner/banner-shape2.png' | url }}" alt="Title">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">

                <div class="title-content">
                    <h2>{{ detail.title }}</h2>
                    <ul>
                        <li>
                            <a href="{{ '/' | url }}">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div> #}
<!-- End Page Title -->

<!-- Blog Details -->
<div class="blog-details-area pt-100 pb-70">
    <div class="container">

        {% if detail.featured_image.id %}
            <div class="details-img">
                <img src="https://api.standupmichigan.com/assets/{{ detail.featured_image.id }}" alt="Blog">
            </div>
        {% endif %}

        <div class="row justify-content-center">
            
            <div class="col-lg-8">
                <div class="details-item">

                    <div class="details-info">
                        <ul>
                            <li>
                                <i class="icofont-user-alt-4"></i>
                                <span>By: Ron Armstrong</span>
                            </li>
                        </ul>
                        <h2 class="mb-3">{{ detail.title }}</h2>
                        {{ detail.commentary | safe }}
                        <ul class="list-group">
                            {% for link in detail.links %}
                                <li class="list-group-item text-center">
                                    <a href="{{ link.web_links }}" target="_blank">{{ link.link_titles }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {# <div class="details-tag">
                        <div class="row align-items-center">
                            <div class="col-sm-6 col-lg-6">
                                <div class="left">
                                    <ul>
                                        <li>
                                            <span>Tags:</span>
                                        </li>
                                        <li>
                                            <a href="#">Politics</a>
                                        </li>
                                        <li>
                                            <a href="#">Politician</a>
                                        </li>
                                        <li>
                                            <a href="#">Country</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="right">
                                    <ul>
                                        <li>
                                            <span>Share:</span>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="icofont-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="icofont-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="icofont-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> #}
                    </div>
                </div>
            </div>

            {# <div class="col-lg-4">
                <div class="widget-area">

                    <div class="search widget-item">
                        <form>
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn">
                                <i class="icofont-search-1"></i>
                            </button>
                        </form>
                    </div>

                    <div class="news widget-item">
                        <h3>Recent News</h3>
                        <div class="inner">
                            <ul class="align-items-center">
                                <li>
                                    <img src="{{ '/assets/images/blog/news1.jpg' | url }}" alt="Blog">
                                </li>
                                <li>
                                    <i class="icofont-calendar"></i>
                                    <span>25 Oct, 2020</span>
                                    <h4>
                                        <a href="#">How To Choose The Right Candidate To Vote</a>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <div class="inner">
                            <ul class="align-items-center">
                                <li>
                                    <img src="{{ '/assets/images/blog/news2.jpg' | url }}" alt="Blog">
                                </li>
                                <li>
                                    <i class="icofont-calendar"></i>
                                    <span>26 Oct, 2020</span>
                                    <h4>
                                        <a href="#">How Communication Effects In Politics</a>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <div class="inner">
                            <ul class="align-items-center">
                                <li>
                                    <img src="{{ '/assets/images/blog/news3.jpg' | url }}" alt="Blog">
                                </li>
                                <li>
                                    <i class="icofont-calendar"></i>
                                    <span>27 Oct, 2020</span>
                                    <h4>
                                        <a href="#">How To Become A Good Citizen & Serve Country</a>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tags widget-item">
                        <h3>Tags</h3>
                        <ul>
                            <li>
                                <a href="#">Politics</a>
                            </li>
                            <li>
                                <a href="#">Politician</a>
                            </li>
                            <li>
                                <a href="#">Country</a>
                            </li>
                            <li>
                                <a href="#">Love</a>
                            </li>
                            <li>
                                <a href="#">Patriotism</a>
                            </li>
                            <li>
                                <a href="#">Parliament</a>
                            </li>
                            <li>
                                <a href="#">Strategy</a>
                            </li>
                            <li>
                                <a href="#">Labour</a>
                            </li>
                            <li>
                                <a href="#">Election</a>
                            </li>
                            <li>
                                <a href="#">Vote</a>
                            </li>
                        </ul>
                    </div>

                    {# <div class="events-item">
                        <img src="{{ '/assets/images/blog/blog-main1.jpg' | url }}" alt="Blog">
                        <div class="bottom">
                            <h3>
                                <a href="event-details.html">Become A Proud Volunteer</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit ab iste</p>
                            <a class="common-btn" href="event-details.html">
                                Join Now
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>
                    </div> #}

                {# </div>
            </div> #}

        </div>
    </div>
</div>
<!-- End Blog Details -->
{% endblock %}