{% extends "layouts/page.njk" %}
{% block content %}
  <div class="wrapper-small">
    <h1 class="text-center">Contact</h1>
    <form>
      <label for="exampleInputEmail1" class="form-label">Your Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
      <label for="exampleInputEmail1" class="form-label">Your Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
      <label for="exampleInputEmail1" class="form-label">Subject</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
      <label for="exampleInputEmail1" class="form-label">Message</label>
      <textarea class="form-control"></textarea>
      <button type="submit" class="btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}