{% include 'partials/head.html' %}
{% include 'components/topbar.html' %}
{% include 'partials/nav.html' %}
<div class="page-title-area title-img-one">
    <div class="title-shape">
        <img src="{{ '/assets/images/page-title/title-shape.jpg' | url }}" alt="Title">
        <img src="{{ '/assets/images/banner/banner-shape2.png' | url }}" alt="Title">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">

                <div class="title-content">
                    <h2>Counties</h2>
                    <ul>
                        <li>
                            <a href="{{ '/index' | url }}">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-5">County Leaders are currently populating your county pages and the pages will be live in the coming days!</h3>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}
    
{% include 'partials/foot.html' %}