{% include 'partials/head.html' %}
{% include 'components/topbar.html' %}
{% include 'partials/nav.html' %}
<div class="page-title-area title-img-one">
    <div class="title-shape">
        <img src="{{ '/assets/images/page-title/title-shape.jpg' | url }}" alt="Title">
        <img src="{{ '/assets/images/banner/banner-shape2.png' | url }}" alt="Title">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">

                <div class="title-content">
                    <h2>Counties</h2>
                    <ul>
                        <li>
                            <a href="{{ '/index' | url }}">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-5">The Digital Migration Has Begun</h1>
            <h3 class="text-center mb-5">County Leaders are being trained in the coming two weeks and feature roll out by Christmas!</h3>
            <hr>
            <p>Each of the 83 counties in our great State will have state of the art, private, and mission focused tools at their disposal.</p>
            <p>Please check back soon!</p>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <ul class="list-group">
                            {% for county in pages.counties %}
                                <li class="list-group-item text-center">{{ county.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}
    
{% include 'partials/foot.html' %}