{% extends "layouts/page.njk" %}
{% block content %}
  <div class="wrapper-small">
    <h3 class="page-title">Blog</h3 page-title>
    <ul class="blog-list">
      {% for post in collections.post %}
        <li>
          <h4><a href="{{ post.url }}">{{ post.data.title }}</a></h4>
          {{ post.data.date | dateformat }}
        </li>
      {% endfor %}
    </ul>
    {# {% image "./src/assets/images/wallpaper1.jpg", "Demo image", "(min-width: 30em) 50vw, 100vw" %} #}
  </div>
{% endblock %}