{% extends "layouts/base.html" %}
{% block content %}
    <div class="page-title-area title-img-one">
        <div class="title-shape">
            <img src="{{ '/assets/images/page-title/title-shape.jpg' | url }}" alt="Title">
            <img src="{{ '/assets/images/banner/banner-shape2.png' | url }}" alt="Title">
        </div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="title-content">
                        <h2>News</h2>
                        <ul>
                            <li>
                                <a href="{{ '/index' | url }}">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area ptb-100">
        <div class="container">
            <div class="row">
                {% for article in pages.news.allNews.data.news %}
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="top">
                                <a href="blog-details.html">
                                    <img src="https://api.standupmichigan.com/assets/{{ article.featured_image.id }}" alt="Blog">
                                </a>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li>
                                        <i class="icofont-calendar"></i>
                                        <span>{{ article.published_on }}</span>
                                    </li>
                                    <li>
                                        <i class="icofont-user-alt-4"></i>
                                        <span>By:</span>
                                        <a href="#">{{ article.author.first_name }} {{ article.author.last_name }}</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="blog-details.html">{{ article.title }}</a>
                                </h3>
                                <p>{{ article.content.slice(0, 200) | safe }}...</p>
                                <a class="blog-btn" href="{{ article.title | slug }}">
                                    Read More
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}