{% include 'partials/head.html' %}
{% include 'components/topbar.html' %}
{% include 'partials/nav.html' %}
<div class="page-title-area title-img-one">
    <div class="title-shape">
        <img src="{{ '/assets/images/page-title/title-shape.jpg' | url }}" alt="Title">
        <img src="{{ '/assets/images/banner/banner-shape2.png' | url }}" alt="Title">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">

                <div class="title-content">
                    <h2>Shop</h2>
                    <ul>
                        <li>
                            <a href="{{ '/index' | url }}">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-5">The Digital Migration Has Begun</h1>
            <h3 class="text-center mb-5">World Class products, clothing, and memorabilia will be available in the first quarter of 2022.</h3>
            <hr>
            <p>The humble origins of Stand Up Michigan meant patriots scattered throughout this State coming together as one to share their time, their talent, and their treasure.</p>
            <p>The efforts, while enormous, always pointed toward a higher excellence. It was clear from the start that bad actors and powers of darkness would be seeking our demise. Consistent cyber threats threatened all of our means of communication on social media platforms and marketing tools. We STOPPED those threats and now enjoy full autonomy with our data and are rolling out a state of the art content and digital platform to <strong>CARE</strong>, <strong>INFORM</strong>, and <strong>ACT</strong>!</p>
            <p>Please continue to come back in the coming days and weeks as we roll out exiting tools for your and your fellow patriots.</p>
            <p>Thank you!</p>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}
    
{% include 'partials/foot.html' %}