<div class="banner-area-two">
    <div class="banner-shape">
        <img src="{{ '/assets/images/banner/banner-shape3.png' | url }}" alt="Shape">
        <img src="{{ '/assets/images/banner/banner-shape3.png' | url }}" alt="Shape">
    </div>
    <div class="banner-slider owl-theme owl-carousel">

        <div class="banner-slider-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">

                        <div class="banner-content">
                            <h1>OSHA, Regulations, Rules, and Mandate Madness</h1>
                            <a class="common-btn" href="https://www.paypal.com/donate?hosted_button_id=JSMVY2E6XDFN8">
                                Download Now
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slider-img">
                <img src="{{ '/assets/images/osha.png' | url }}" alt="Banner">
            </div>
        </div>

        <div class="banner-slider-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">

                        <div class="banner-content">
                            <h1>COVIDLAND 2 - The Mask</h1>
                            <p>Buy the DVDs Now!</p>
                            <a class="common-btn mb-3 mb-md-0" href="{{ '/covidland-2' | url }}">
                                Buy Now!
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slider-img">
                <img src="{{ '/assets/images/covidland-1.png' | url }}" alt="Banner">
            </div>
        </div>

        <div class="banner-slider-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">

                        <div class="banner-content">
                            <h1>COVIDLAND 1 - The Lockdown</h1>
                            <p>Buy the DVDs Now!</p>
                            <a class="common-btn mb-3 mb-md-0" href="{{ '/covidland-1' | url }}">
                                Buy Now!
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slider-img">
                <img src="{{ '/assets/images/covidland-2.png' | url }}" alt="Banner">
            </div>
        </div>
    </div>
</div>
