        <!-- Go Top -->
        <div class="go-top two">
            <i class="icofont-polygonal"></i>
            <i class="icofont-polygonal"></i>
        </div>
        <!-- End Go Top -->


        <!-- Essential JS -->
        <script src="{{ '/assets/js/jquery.min.js' | url }}"></script>
        <script src="{{ '/assets/js/popper.min.js' | url }}"></script>
        <script src="{{ '/assets/js/bootstrap.min.js' | url }}"></script>
        <!-- Form Validator JS -->
        <script src="{{ '/assets/js/form-validator.min.js' | url }}"></script>
        <!-- Contact JS -->
        <script src="{{ '/assets/js/contact-form-script.js' | url }}"></script>
        <!-- Ajax Chip JS -->
        <script src="{{ '/assets/js/jquery.ajaxchimp.min.js' | url }}"></script>
        <!-- Mean Menu JS -->
        <script src="{{ '/assets/js/jquery.meanmenu.js' | url }}"></script>
        <!-- Wow JS -->
        <script src="{{ '/assets/js/wow.min.js' | url }}"></script>
        <!-- Odometer JS -->
        <script src="{{ '/assets/js/odometer.min.js' | url }}"></script>
        <script src="{{ '/assets/js/jquery.appear.min.js' | url }}"></script>
        <!-- Owl Carousel JS -->
        <script src="{{ '/assets/js/owl.carousel.min.js' | url }}"></script>
        <!-- Modal Video JS -->
        <script src="{{ '/assets/js/jquery-modal-video.min.js' | url }}"></script>
        <!-- Nice Select JS -->
        <script src="{{ '/assets/js/jquery.nice-select.min.js' | url }}"></script>
        <!-- Custom JS -->
        <script src="{{ '/assets/js/custom.js' | url }}"></script>
        <script type="text/javascript' | url }}">
            $(window).on('load',function(){
                $('#exampleModal').modal('show');
            });
        </script>
    </body>
</html>