<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | url }}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
        <!-- Self hosted analytics -->
        <script>
            (function(f, a, t, h, o, m){
                a[h]=a[h]||function(){
                    (a[h].q=a[h].q||[]).push(arguments)
                };
                o=f.createElement('script'),
                m=f.getElementsByTagName('script')[0];
                o.async=1; o.src=t; o.id='fathom-script';
                m.parentNode.insertBefore(o,m)
            })(document, window, '//stats.standupmichigan.com/tracker.js', 'fathom');
            fathom('set', 'siteId', 'GJKBX');
            fathom('trackPageview');
        </script>

        <title>Brem Static</title>

        <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | url }}">
    </head>
    <body>