<div class="navbar-area sticky-top"> 
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="{{ '/' | url }}" class="logo">
            <img src="{{ '/assets/images/standuplogo.png' | url }}" alt="Logo">
        </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav two">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="{{ '/' | url }}">
                    <img src="{{ '/assets/images/standuplogo.png' | url }}" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        {% for item in singletons.nav.data.nav_items %}
                            <li class="nav-item">
                                <a href="{{ '/' | url }}{{ item.url }}" class="nav-link">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                        <li class="nav-item">
                            <a href="https://dashboard.standupmichigan.com" class="nav-link desktop-hide">Sign Up</a>
                        </li>
                    </ul>
                    <div class="side-nav mobile-hide" style="margin-right: 15px;">
                        <a class="right common-btn two" href="https://dashboard.standupmichigan.com">Sign Up</a>
                    </div>
                    <div class="side-nav">
                        <a class="right common-btn two" href="https://www.paypal.com/donate/?hosted_button_id=RWM538DGK6DJS">Donate</a>
                    </div>

                </div>
            </nav>
        </div>
    </div>
</div>
